body{
    background-color: white;
    margin: 10px;
}

.header img{
    width: 100%;
    height: 100px;
    border: 3px solid yellowgreen;
}

#fotoperfil{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    padding: 10px 0 0 10px;
}

p {
    text-align: center justify;
    padding: 2px 0 0 10px;
}

h1,h2 {
    padding-left: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin-top: 10px; 
    background-color: lightblue;
    padding: 10px;  
}

.image {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}


.image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image h2{
    color: yellowgreen;
    background-color: black;
    text-align: center;
}

.image:hover .overlay {
    opacity: 1;
}

.image:hover img {
    transform: scale(1.1);
}

.contenido_c{
    color: azure;
    background-color: black;
    text-align: justify;
    padding: 10px;
}

.contenedor-bloques {
    display: flex; 
    flex-wrap: wrap; 
}

.bloqueresumen {
    width: calc(33.33% - 20px); 
    margin: 10px; 
    background-color: white; 
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 10px;
    border: 3px solid yellowgreen;
    
}





